@model Wagenpark.Models.onderhoud

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>onderhoud</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label style="color: white;" class="control-label col-md-2" for="auto_onderhoud_id">onderhoudsnummer</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.auto_onderhoud_id, new { htmlAttributes = new { @class = "form-control", type = "number", min = "1", max = "9999999999", placeholder = "123456789" } })
            @Html.ValidationMessageFor(model => model.auto_onderhoud_id, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
        @Html.LabelFor(model => model.onderhoudsdatum, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div style="color:black; enable-background:initial;">
                @Html.TextBoxFor(model => model.onderhoudsdatum, new { type = "date", @class="form-control" })
                @Html.ValidationMessageFor(model => model.onderhoudsdatum, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.kosten, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kosten, new { htmlAttributes = new { @class = "form-control", type = "number", min = "1", max = "9999999999", placeholder = "400.00" } })
            @Html.ValidationMessageFor(model => model.kosten, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label style="color: white;" class="control-label col-md-2" for="auto_kenteken">auto kenteken</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.auto_kenteken, ViewBag.Kentekenlist as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.auto_kenteken, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label style="color: white;" class="control-label col-md-2" for="werkplaatsnummer">werkplaats</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.werkplaats_werkplaatsnr, ViewBag.WerkplaatsList as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.werkplaats_werkplaatsnr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
