@model IEnumerable<Wagenpark.Models.onderhoud>

@{
    ViewBag.Title = "Index";
}


@{
    /*Zorgt er voor dat alleen de dealers hun eigen auto's kunnen terugvinden*/
    var ifStatement = 99999;
}
@if (User.IsInRole("Dealer0"))
{
    ifStatement = 0;
}
@if (User.IsInRole("Dealer1"))
{
    ifStatement = 1;
}
@if (User.IsInRole("Dealer2"))
{
    ifStatement = 2;
}
@if (User.IsInRole("Dealer3"))
{
    ifStatement = 3;
}
@if (User.IsInRole("Dealer5"))
{
    ifStatement = 5;
}
@if (User.IsInRole("Dealer5"))
{
    ifStatement = 5;
}
@if (User.IsInRole("Dealer6"))
{
    ifStatement = 6;
}
@if (User.IsInRole("Dealer7"))
{
    ifStatement = 7;
}

<h2>Onderhoud inplannen</h2>
<p style="color: white;">Zoek op kenteken.</p>
<div id="Searching" style="color:black;">
    @using (Html.BeginForm("index", "onderhouds", FormMethod.Get))

    {
        @Html.TextBox("Searching")<input type="submit" value="Zoek" style="color:black;" />

    }
</div>
<p>
    @Html.ActionLink("Maak nieuw onderhoud aan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            onderhoudsnummer
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onderhoudsdatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kosten)
        </th>
        <th>
            kenteken
        </th>
        <th>
            werkplaatsnummer
        </th>
        <th></th>
    </tr>

    @if (User.IsInRole("Admin"))
    {
        foreach (var item in Model)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.auto_onderhoud_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.onderhoudsdatum)
                </td>
                <td>
                    &euro;
                    @Html.DisplayFor(modelItem => item.kosten)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.auto_kenteken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.werkplaats_werkplaatsnr)
                </td>
                <td>
                    @Html.ActionLink("Wijzigen", "Edit", new { id = item.auto_onderhoud_id }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Details", "Details", new { id = item.auto_onderhoud_id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.auto_onderhoud_id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }

    else
    {
        foreach (var item in Model)
        {
            if (item.werkplaats_werkplaatsnr == ifStatement)
            {
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.auto_onderhoud_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.onderhoudsdatum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.kosten)
                        </td>
                        <td> 
                             @Html.DisplayFor(modelItem => item.auto_kenteken)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.werkplaats_werkplaatsnr)
                        </td>
                        <td>
                            @Html.ActionLink("Wijzigen", "Edit", new { id = item.auto_onderhoud_id }, new { @class = "btn btn-default" })
                            @Html.ActionLink("Details", "Details", new { id = item.auto_onderhoud_id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Verwijderen", "Delete", new { id = item.auto_onderhoud_id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            }
        }
    }





</table>
