@model IEnumerable<Wagenpark.Models.dealer>

@{
    ViewBag.Title = "Dealers";
    @Styles.Render("~/Content/css")
}

<h2>Dealers</h2>

<p>
    @Html.ActionLink("Maak een nieuwe dealer aan", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.naam)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naam)
            </td>
            <td>
                @Html.ActionLink("Wijzigen", "Edit", new { id = item.dealernr }, new { @class = "btn btn-default" }) 
                @Html.ActionLink("Details", "Details", new { id = item.dealernr }, new { @class = "btn btn-primary" }) 
                @Html.ActionLink("Verwijderen", "Delete", new { id = item.dealernr }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
