@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Bewerk rollen";
    @Styles.Render("~/Content/css")
}

<h2>Edit Role</h2>

@Html.ActionLink("terug naar Rolmanager", "Index")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div>
        Role name
    </div>
    <p>
        @Html.TextBoxFor(model => model.Name)
    </p>
    <input type="submit" value="Opslaan" />
}
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;
    }
    h4 {
        color: #0064AD;
    }
        .label{

        }
</style>