@model Wagenpark.Models.werkplaat

@{
    ViewBag.Title = "Details";
    @Styles.Render("~/Content/css")
}

<h2>Details</h2>

<div>
    <h4>werkplaats</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.werkplaatsnr }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<style>
body{
    background-image: url('@Url.Content("~/Content/Images/background.jpg")');
    background-repeat:no-repeat;
    background-size: cover;

    }
    p{
        color: #343638;
    }
    h2 {
        color: #0064AD;;
    }
    h4 {
        color: #0064AD;;
    }
        .label{

        }
</style>